<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>WebPincér</title>
    <link rel="stylesheet" type="text/css" href="/style/allStyle.css">
    <link rel="icon" href="/assets/icon_restaurant.png">
    <script type="text/javascript" src="/scripts/indexDB.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
    <script type="text/javascript" src="/scripts/floatingLabel.js"></script>
</head>
<body>
<div class="mainPageContainer">
    <div class="mainPage">
        <div class="mainPageHeaderContainer">
            <div class="header">
                <a href="/" style="text-decoration: none">
                    <div class="mainTitle">WebPincér</div>
                </a>
                <div style="display: flex;align-self: center;">
                    <a href="/profile" style="text-decoration: none" class="aContainerProfilePic">
                        <div class="profileIcon"></div>
                    </a>
                    <a href="/shoppingCart" style="text-decoration: none" class="aContainerCartPic">
                        <div id="Cart" class="shoppingCartIcon smthInCart"></div>
                    </a>
                </div>
            </div>

            <div class="menu">
                <%if (sess.email) {%>
                    <a href="/signout" style="text-decoration: none">
                        <div class="login">Kijelentkezés</div>
                    </a>
                <% } else {%>
                    <a href="/login" style="text-decoration: none">
                        <div class="login">Bejelentkezés</div>
                    </a>
                <% } %>
                <a href="/registration" style="text-decoration: none">
                    <div class="registration">Regisztráció</div>
                </a>
                <a href="/connection" style="text-decoration: none">
                    <div class="connection">Kapcsolat</div>
                </a>
            </div>
        </div>
        <div class="regPageMainBody">
            <div class="regFormDiv">
                <h2 class="pageMainTitle regTitle">Regisztráció</h2>
                <form method="post" class="regForm" action="/regaccount">
                    <% if(regerror){%>
                        <div class="regerror">
                            <%= regerror %>
                        </div>
                    <% } %>
                    <div class="main">
                        <input type="text" name="lastName" id="LastName" onchange="checkValue(this)" placeholder/>
                        <label class="hello"> Vezetéknév</label>
                        <span class="enter"></span>
                    </div>
                    <div class="main">
                        <input type="text" name="firstName" id="FirstName" onchange="checkValue(this)" placeholder/>
                        <label class="hello"> Keresztnév</label>
                        <span class="enter"></span>
                    </div>
                    <div class="main">
                        <input type="email" name="regemail" id="RegistrationEmail" onchange="checkValue(this)" placeholder required/>
                        <label class="hello"> E-mail</label>
                        <span class="enter"></span>
                    </div>
                    <div class="main">
                        <input type="password" name="regpassword" id="RegistrationPassw" onchange="checkValue(this)" placeholder required/>
                        <label class="hello"> Jelszó</label>
                        <span class="enter"></span>
                    </div>
                    <div class="main">
                        <input type="password" name="regpasswordAgain" id="PasswAgain" onchange="checkValue(this)" placeholder required/>
                        <label class="hello"> Jelszó megerősítése</label>
                        <span class="enter"></span>
                    </div>
                    <div class="main">
                        <input type="text" name="mobile" id="MobileNumber" onchange="checkValue(this)" placeholder/>
                        <label class="hello"> Telefonszám</label>
                        <span class="enter"></span>
                    </div>
                    <div class="mainPay">
                        <input type="text" name="postCode" id="ZipCode" onchange="checkValue(this)" placeholder/>
                        <label class="helloPay"> Irányítószám</label>
                        <span class="enterPay"></span>
                    </div>
                    <div class="mainPay">
                        <input type="text" name="city" id="City" onchange="checkValue(this)" placeholder/>
                        <label class="helloPay"> Város</label>
                        <span class="enterPay"></span>
                    </div>
                    <div class="mainPay">
                        <input type="text" name="street" id="Address" onchange="checkValue(this)" placeholder/>
                        <label class="helloPay"> Utca, házszám</label>
                        <span class="enterPay"></span>
                    </div>
                    <div class="mainPay">
                        <input type="text" name="other" id="Floor" onchange="checkValue(this)" placeholder/>
                        <label class="helloPay"> Emelet, ajtó</label>
                        <span class="enterPay"></span>
                    </div>
                    <div>
                        <label class="licensText"> Elfogadom az általános szerződési feltételeket</label>
                        <input type="checkbox" name="licens" required/>
                        <div style="display: flex; justify-content: center;">
                            <button class="regButton" type="submit" name="registration">Regisztráció</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
